body {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-top: 90px;
  }
  

  input {
    background: transparent;
    border: none;
    padding-left: 3px;
  }
  
  
  .navbar {
    background-color: darkcyan;  
    color: grey;  
    padding-bottom: 0;
    border-bottom: solid;
    border-bottom-color: #ccc;
    width: 100%;
    text-align: center;
  }
  
  #navbar-title {
    padding: 0px;
    font-size: 30px;
    color: whitesmoke; 
    text-align: center;
  }
  
  #navbar-subtitle {
    padding: 2px;
    font-size: 15px;
    color: whitesmoke; 
    text-align: center;
  }
  
  .col-md-1, .col-md-2, .col-md-9 {
    padding: 0;
  }
  

  #plannerContainer {
    background-color: #b6d7e2;  
    
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 40px;
  } 
  
  .plannerRow {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 15px;
  }
  
  .timeBox {
    background-color: whitesmoke;  
    color: black;
    height:100%;
    width: 100%;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    display: inline-block;
    font-size: 1em;
  }
  
  .dailyPlan {
    color: black;  
    font-size: 12pt;
    height:100%;
    width: 100%;
  }
  
  .saveIcon {
    background-color: lightblue;
    color: whitesmoke;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .footer {
    background-color: #666;
    height: 10%;
    border-top: solid;
    border-top-color: #b6d7e2;  
    border-top-width: 8px;
  }
  
  .footer-text, .header-text {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color:linen; 
  }
  

  @keyframes shadow-pulse
  {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
  }
  .shadowPulse {
    animation: shadow-pulse 1s infinite;
  }
  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .plannerRow {
      height: 100%;
      border-radius: 10;
      margin: 10px;
    }
  
    .saveIcon { border-radius: 0 0 15px 15px; }
  
    .timeBox { border-radius: 15px 15px 0 0; }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
  
  .wrapper
  { 
    padding: 20px;     
  } 
  
